*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: #122F61;
color: black;
}
body{
	background-color: #F2E9EA;
	color: whitesmoke;
}
.glyphicon{
	font-size: 30px;
	color:whitesmoke; 
}

.center{
	width: 90%;
	background-color:#122F61;
	color: black;
	border-color: gray;

}
.container
{
	background-color: #122F61;
}
.text-center{
	font-size: 30px;
	color: black;
	border-color: gray;
}


h2{
	text-align: center;
}
#myNavbar ul li a {
	text-align: center;
	color: whitesmoke;
}
#myNavbar a span {
	font-size: 2em;
}
.navbar-brand{
font-size: 30px;
color: black;
}


